.link-containers {
    text-align: center;
}
.link-containers > .CS {
    display: flex;
    flex-direction: column;
}
.photo-section > .schedule {
    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}